# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ejercicios de progYLab3\ejercicio13\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
